<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="internallog.txt">

  <targets>
    <!-- Un seul fichier de log -->
    <target name="file" xsi:type="File"
            fileName="logs/Trading.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}${onexception:inner=${newline}${exception:format=toString}}" />

    <!-- Console coloriée -->
    <target name="console" xsi:type="ColoredConsole">
      <highlight-row condition="level == LogLevel.Debug"   foregroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Info"    foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Warn"    foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error"   foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal"   foregroundColor="White" backgroundColor="Red" />
    </target>
  </targets>

  <rules>
    <!-- On évite les très verbeux issus de Microsoft, on ne logue que les erreurs -->
      <logger name="Microsoft.*" minLevel="Error" final="true" />
      <logger name="System.*" minLevel="Error" final="true" />
      <logger name="*" minLevel="Info" writeTo="file,console" />
  </rules>
</nlog>
